# ==========================
# Java / Maven
# ==========================
**/target/
*.class
*.jar
*.war
*.ear

# ==========================
# IDE
# ==========================
.vscode/
.idea/
*.iml

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Environment
# ==========================
.env
.env.*

# ==========================
# Docker
# ==========================
**/postgres-data/

# ==========================
# Temporary
# ==========================
*.tmp
*.swpbackend/HELP.md
backend/HELP.md
